<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayUIndia-Logger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PayUIndia-Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PayUIndia-UPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PayUIndia-UPICore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PayUIndia-UPIKit-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>PayUIndia-Logger</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-Networking</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-NetworkingTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-UPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-UPICore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-UPICoreTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>PayUIndia-UPITarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
